* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1, li {
    color: white;
    font-family: Tahoma;
    padding-top: 10px;
}

h2 {
    font-family: Tahoma;
    margin-bottom: 20px;
}

body {
    width: 100%;
    overflow-x: hidden;
}



.header {
    background-color: gray;
    width: 100vw;
    height: 20vh;
    margin-bottom: 20px;
}

.search-icon {
    color: white;
    right: 100%;
    float: right;
}

.first-row {
    width: 90vw;
    height: 20%;
    margin: auto;
    margin-bottom: 50px;
}

.second-row {
    width: 90vw;
    height: 20%;
    margin: auto;
}

.list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

li {
    font-size:large;
}

.games-li {
   color: aqua;
}

.ordering-games {
    width: 70vw;
    height: 8vh;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    margin: auto;
    justify-content: space-around;
}

.release-date {
    width: 20%;
    height: 100%;
    color: white;
    background-color: rgb(105, 103, 103);
    text-align: center;
    

}

.rate {
    width: 20%;
    height: 100%;
    color: white;
    background-color: rgb(105, 103, 103);
    text-align: center;
}

.genres {
    width: 20%;
    height: 100%;
    color: white;
    background-color: rgb(105, 103, 103);
    text-align: center;
}

.games-list {
    margin: auto;
    margin-top: 35px;
    width: 90vw;
    text-align: center;
   
}

.game {
    height: 100px;
    width: 100px;
    background-color: gray;
}

.game-grid {
    margin: auto;
    width: 70%;
    display: Flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.drop {
    color: white; 
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(170, 170, 245)
}

pre {
    display: block;
    height: 80px;
    width: 90vw;
    margin: auto;
    border-width: 5px;
    border-top: 4px solid rgb(49, 128, 255);
   
  }

  .reviews {
    height: 200px;
    width: 90vw;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    
  }

  .image-review {
    height: 150px;
    width: 120px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
  }

  .h1-review {
    color: rgb(20, 4, 120);
  }


  .additional-information {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

.stars {
    color: rgb(195, 195, 0);
}




