* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1, li {
    color: white;
    font-family: Tahoma;
    padding-top: 10px;
}

h2 {
    font-family: Tahoma;
    margin-bottom: 20px;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #008080;
}



.header {
    background-color: gray;
    width: 100vw;
    height: 20vh;
    margin-bottom: 20px;
}

.search-icon {
    color: white;
    right: 100%;
    float: right;
}

.first-row {
    width: 90vw;
    height: 20%;
    margin: auto;
    margin-bottom: 50px;
}

.second-row {
    width: 90vw;
    height: 20%;
    margin: auto;
}

.list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

li {
    font-size:large;
}

.drop {
    color: white; 
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(170, 170, 245)
}



  .reviews {
    height: 200px;
    width: 90vw;
    margin: auto;
    margin-bottom: 70px;
    display: flex;
    
  }

  .image-review {
    height: 150px;
    width: 120px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
  }

  .h1-review {
    color: aliceblue;
  }


  .additional-information {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

.stars {
    color: rgb(195, 195, 0);
}

.image-review:hover {
    border: 3px solid black;
}

p {
    font-family: tahoma;
    color: white;
}


@media only screen and (max-width: 600px) {

    p{
        font-size: 14px;
    }

    pre {
        display: block;
        height: 40px;
        width: 90vw;
        margin: auto;
        border-width: 5px;
        border-top: 4px solid rgb(66, 55, 55);
       
      }
  }