* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1, li {
    color: white;
    font-family: Tahoma;
    padding-top: 10px;
}

h2 {
    font-family: Tahoma;
    margin-bottom: 20px;
}

body {
    width: 100%;
    overflow-x: hidden;
}



.header {
    background-color: gray;
    width: 100vw;
    height: 20vh;
    margin-bottom: 20px;
}

.search-icon {
    color: white;
    right: 100%;
    float: right;
}

.first-row {
    width: 90vw;
    height: 20%;
    margin: auto;
    margin-bottom: 50px;
}

.second-row {
    width: 90vw;
    height: 20%;
    margin: auto;
}

.list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

li {
    font-size:large;
}

.drop {
    color: white; 
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(170, 170, 245)
}

