* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1, li {
    color: white;
    font-family: Tahoma;
    padding-top: 10px;
}

.title {
    font-family: Tahoma;
    color: aliceblue;
    margin: 20px 12px;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #008080;
}



.header {
    background-color: gray;
    width: 100vw;
    height: 20vh;
    margin-bottom: 20px;
}

.search-icon {
    color: white;
    right: 100%;
    float: right;
}

.first-row {
    width: 90vw;
    height: 20%;
    margin: auto;
    margin-bottom: 50px;
}

.second-row {
    width: 90vw;
    height: 20%;
    margin: auto;
}

.list {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

li {
    font-size:large;
}

.drop {
    color: white; 
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(170, 170, 245)
}

.create-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.new-text {
    margin-top: 20px;
    color: aliceblue;
    font-family: tahoma;
}

.create-icon {
    color: rgb(182, 214, 241);
}

.table-lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 12px;
    gap: 20px;
}

.list-created {
    display: flex;
    gap: 15px;
    align-items: center;
    border: 2px solid aliceblue;
    padding: 10px;
}

.edit {
    color: rgb(182, 214, 241);
}

.remove {
    color: rgb(182, 214, 241);
}

.show {
    color: rgb(182, 214, 241);
}
